replicaCount: 1  # Pode ajustar conforme necessário
image:
  repository: ghcr.io/juliosw/ecomarket-api2
  tag: latest  # Atualize conforme necessário
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8000
hpa:  # Adicionado
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
rollout:
  canary:
    steps:
      - setWeight: 10
      - pause: { duration: 5m }
      - setWeight: 50
      - pause: { duration: 5m }
      - setWeight: 100
istio:
  virtualService:
    hosts:
      - "api2.tunnelsw.com"
    gateways:
      - "istio-ingressgateway"
  destinationRule:
    subsets:
      - name: v1
        labels:
          version: v1
      - name: v2
        labels:
          version: v2
